/* CSS Document */
body {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	margin: 0;
	text-decoration: none;
	background: url(../images/bodybg.gif) repeat-x #FFFFFF;
}

/********* Common CSS Starts here *********/
fieldset {
	border: 1px solid #848484;
	/*-moz-border-radius: 5px;*/
	/*-ie-border-radius: 5px;*/
	/*border-radius: px;*/
	margin: 0 1em 1em 0;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

input {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	padding-left: 0px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
}

textarea {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	background: #FFFFFF;
	padding-left: 2px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
}

select {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	background: #FFFFFF;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	border-right: 1px solid #D4D0C8;
	border-bottom: 1px solid #D4D0C8;
}

a {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: underline;
	outline: none;
}

a:hover {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: none;
	outline: none;
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	line-height: 18px;
}

th {
	background: url(../images/thbg.gif) repeat-x bottom #afb8ca;
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	height: 27px;
	text-align: left;
}

th a {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

th a:hover {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: underline;
}

.listing-border {
	background: #CCCCCC;
}

.oddrow {
	background: #F4F4F4;
	height: 20px;
}

.evenrow {
	background: #FFFFFF;
	height: 20px;
}

.td-light {
	background: #F4F4F4;
	height: 20px;
}

.td-light a {
	color: #353535;
	text-decoration: none;
}

.td-light a:hover {
	color: #353535;
	text-decoration: underline;
}

.td-dark {
	background: #FFFFFF;
	height: 20px;
}

.td-dark a {
	color: #353535;
	text-decoration: none;
}

.td-dark a:hover {
	color: #353535;
	text-decoration: underline;
}

.noinput {
	border: none;
	background: none;
}

.errormsg {
	color: #FF0000;
}

.copyright {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: none;
	text-align: center;
	background: url(../images/bott-midd-bg.gif) repeat-x;
}

.copyright a {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: none;
}

.copyright a:hover {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: underline;
}
/********* Common CSS End here *********/
.toprightarea {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff;
	line-height: 20px;
	text-align: right;
	padding-right: 15px;
}

.loggedname {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

.top-submenu {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	height: 29px;
	padding-left: 20px;
}

.top-submenu a {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #ddd;
	text-decoration: none;
	margin-left: 9px;
	margin-right: 9px;
}

.top-submenu a:hover {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: underline;
}

.topnav {
	vertical-align: top;
	height: 39px;
}

ul#topnav {
	margin: 0;
	padding: 0;
}

ul#topnav li {
	list-style-type: none;
	display: block;
	height: 32px;
	background: url(../images/top-divider.gif) no-repeat right 13px;
	margin-right: 2px;
	padding-left: 3px;
	padding-right: 5px;
	float: left;
	text-align: center;
}

ul#topnav li a {
	line-height: 39px;
	height: 39px;
	display: inline-block;
	padding: 0 15px 0 0;
	color: #fff;
	text-decoration: none;
}

ul#topnav li a span {
	height: 39px;
	display: inline-block;
	padding: 0px 0 0 15px;
	color: #fff;
}

ul#topnav li a span em {
	line-height: 39px;
	display: inline-block;
	text-align: center;
	font-style: normal;
}

ul#topnav li a:hover {
	background: url(../images/toptab-a-right.gif) no-repeat right;
	height: 39px;
	display: inline-block;
	padding: 0 15px 0 0;
	color: #fff;
}

ul#topnav li a:hover span {
	background: url(../images/toptab-a-left.gif) no-repeat left top;
	height: 39px;
	display: inline-block;
	padding: 0px 0 0 15px;
	color: #fff;
}

ul#topnav li a:hover span em {
	background: url(../images/toptab-a-center.gif) no-repeat center;
	display: inline-block;
	text-align: center;
	font-style: normal;
}

ul#topnav li a.active {
	background: url(../images/toptab-a-right.gif) no-repeat right;
	height: 39px;
	display: inline-block;
	padding: 0 15px 0 0;
	color: #fff;
}

ul#topnav li a.active span {
	background: url(../images/toptab-a-left.gif) no-repeat left top;
	height: 39px;
	display: inline-block;
	padding: 0px 0 0 15px;
	color: #fff;
}

ul#topnav li a.active span em {
	background: url(../images/toptab-a-center.gif) no-repeat center;
	display: inline-block;
	text-align: center;
	font-style: normal;
}

ul.MenuBarHorizontal {
	cursor: default;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 90%;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
}

ul.MenuBarActive {
	z-index: 1000;
}

ul.MenuBarHorizontal li {
	cursor: pointer;
	float: left;
	font-size: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: left;
	width: 160px;
}

ul.MenuBarHorizontal ul {
	cursor: default;
	font-size: 100%;
	left: -1000em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 160px;
	z-index: 1020;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible {
	left: auto;
}

ul.MenuBarHorizontal ul li {
	width: 160px;
}

ul.MenuBarHorizontal ul ul {
	margin: -5% 0 0 95%;
	position: absolute;
}

ul.MenuBarHorizontal ul.MenuBarSubmenuVisible ul.MenuBarSubmenuVisible {
	left: auto;
	top: 0;
}

ul.MenuBarHorizontal ul {
	
}

ul.MenuBarHorizontal a {
	background-color: #3C3C3C;
	/*background: url(../images/top-divider.gif);*/
	border-color: #fff;
	border-style: solid;
	/*height: 22px;*/
	border-righ-width: 0.01em;
	border-left-width: 0.01em;
	border-top-width: 0px;
	border-bottom-width: 0px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	padding: 0.8em 0.75em;
	text-decoration: none;
}

ul.MenuBarHorizontal a:hover,ul.MenuBarHorizontal a:focus,ul.MenuBarHorizontal a.MenuBarItemHover,ul.MenuBarHorizontal a.MenuBarItemSubmenuHover,ul.MenuBarHorizontal a.MenuBarSubmenuVisible
	{ /* background-color: #7A85AD;*/
	/* background: url(../images/toptab-a-right.gif);*/
	color: #3366ff;
}

ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	background-image: url("../images/SpryMenuBarDown.gif");
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-color: #3C3C3C;
}

ul.MenuBarHorizontal ul a.MenuBarItemSubmenu {
	background-image: url("../images/SpryMenuBarRight.gif");
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-color: #3C3C3C;
}

ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
	background-image: url("../images/SpryMenuBarDownHover.gif");
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

ul.MenuBarHorizontal ul a.MenuBarItemSubmenuHover {
	background-image: url("../images/SpryMenuBarRightHover.gif");
	background-position: 95% 50%;
	background-repeat: no-repeat;
}

ul.MenuBarHorizontal iframe {
	position: absolute;
	z-index: 1010;
}

ul.MenuBarHorizontal li.MenuBarItemIE {
	background: none repeat scroll 0 0 #3C3C3C;
	display: inline;
	float: left;
}

ul.MenuBarHorizontal a {
	background-color: #3C3C3C;
}

a.logout {
	background: url(../images/logoutbg.gif) no-repeat;
	width: 71px;
	height: 25px;
	display: block;
	text-align: center;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	padding-top: 10px;
}

a:hover.logout {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: underline;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	padding: 0;
}

h1 {
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	margin-bottom: 10px;
	background: url(../images/img-icon.gif) no-repeat;
	padding-left: 45px;
	height: 29px;
	padding-top: 7px;
}

h2 {
	font: bold 15px Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	margin-bottom: 5px;
}

h3 {
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #8aa614;
	text-decoration: none;
	margin-bottom: 10px;
}

h4 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #171717;
	text-decoration: none;
	margin-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
}

.rightpart-topcurve {
	background: url(../images/rightpart-topleftcurve.gif) no-repeat top left
		#F4F4F4;
}

.rightpart-topcurve div {
	background: url(../images/rightpart-toprightcurve.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

.rightpart-bodycurve {
	background: #F4F4F4;
	vertical-align: top;
	padding: 20px 15px 20px 15px;
}

.rightpart-bottcurve {
	background: url(../images/rightpart-bottleftcurve.gif) no-repeat top
		left #F4F4F4;
}

.rightpart-bottcurve div {
	background: url(../images/rightpart-bottrightcurve.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

.homepage-middbox {
	background: url(../images/homepage-middbox.gif) no-repeat top left;
	height: 100px;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 10px;
}

.homepage-middbox h2 {
	margin-bottom: 15px;
}

.homepage-middbox a {
	text-decoration: underline;
	color: #353535;
}

.homepage-middbox a:hover {
	text-decoration: none;
	color: #000;
}

.homepage-middbox-icon {
	float: right;
	margin-right: 10px;
	margin-left: 10px;
}

.homepage-middbox-icon2 {
	float: right;
	margin-right: 458px;
	margin-left: 10px;
}

.inner-topcurve {
	background: url(../images/inner-topleftcurve.gif) no-repeat top left
		#F4F4F4;
}

.inner-topcurve div {
	background: url(../images/inner-toprightcurve.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

.inner-bodycurve {
	background: #F4F4F4;
	vertical-align: top;
	padding: 20px 15px 20px 15px;
}

.inner-bottcurve {
	background: url(../images/inner-bottleftcurve.gif) no-repeat top left
		#F4F4F4;
}

.inner-bottcurve div {
	background: url(../images/inner-bottrightcurve.gif) no-repeat;
	width: 5px;
	height: 5px;
	float: right;
}

.sortby {
	text-align: center;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
}

.sortby a {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	margin-right: 5px;
}

.sortby a:hover {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: underline;
}

.sortby-active {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	margin-right: 5px;
}

.sortby-disabled {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #616060;
	text-decoration: none;
	margin-right: 5px;
}

.paging {
	text-align: right;
}

.paging a {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	margin-right: 3px;
	border: 1px solid #000;
	background: #000;
	padding: 1px 3px 1px 3px
}

.paging a:hover {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #000;
	background: #333;
}

.paging-active {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #000;
	background: #ccc;
	padding: 1px 3px 1px 3px
}

.paging-bottom {
	text-align: right;
}

.paging-bottom a {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	margin-right: 3px;
	background: #000;
	padding: 1px 3px 1px 3px
}

.paging-bottom a:hover {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	background: #333;
}

.paging-bottom .paging-active {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	background: #95a1b2;
	padding: 1px 3px 1px 3px;
	border: none;
}

.pagging-next {
	cursor: pointer;
	border: none;
	backround: none;
	padding: 1px 5px 1px 3px;
}

.pagging-prev {
	cursor: pointer;
	border: none;
	backround: none;
	padding: 1px 5px 1px 3px;
}

.listing-bottgradient {
	background: url(../images/listing-bottgradient.gif) repeat-x top #9F9F9F;
	height: 27px;
	border: 1px solid #F4F4F4;
	border-top: none;
	color: #000;
}

.bott-divider {
	background: url(../images/bott-divider.gif) no-repeat right center;
}

.file-extension {
	color: #F5821F;
	font-weight: bold;
}

.errorbox {
	background: url(../images/errormsg-box.gif) repeat-x;
	text-align: center;
	width: 400px;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

.errorbox-position {
	position: relative;
	width: 1000px;
	margin: auto;
	display: none;
}

.login-headbg {
	background: url(../images/login-headbg.gif) no-repeat;
	height: 77px;
	text-align: left;
	font: bold 21px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	padding-left: 15px;
}

.loginarea {
	margin-top: 80px;
}

.loginbox-border { /*border: 1px solid #e4e4e4; border-bottom: none;*/
	background: url(../images/login-midd-bg.gif) repeat-y left top;
}

.inner-bodycurve-listing {
	background: #F4F4F4;
	vertical-align: top;
	padding: 0px 10px 0px 10px;
}

.bluetextbold {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #0095CE;
}

a.disable-tab {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #ccc;
	text-decoration: none;
}

a:hover.disable-tab {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

.botto-midd-bg {
	background: url(../images/bott-midd-bg.gif) repeat-x;
}

.tdlist {
	height: 30px;
}

.home-midd-bg {
	background: url(../images/midd-border.gif) repeat-y;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.home-top-gray-bor {
	border-top: 1px solid #d3d4d8;
}

.home-bott-gray-bor {
	border-bottom: 1px solid #d3d4d8;
}

.home-left-gray-bor {
	background: url(../images/home-left-bor.gif) repeat-y;
}

.home-right-gray-bor {
	background: url(../images/home-right-bor.gif) repeat-y;
}

.box-padding {
	padding-left: 5px;
	padding-top: 5px;
}

.box-margin {
	padding-right: 10px;
}

.welcome-box {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #353535;
	text-decoration: none;
	line-height: 20px;
}

.welcome-box-link {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #90a60b;
	text-decoration: none;
	text-align: right;
	padding-right: 8px;
	line-height: 20px;
}

.welcome-box-link a {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #90a60b;
	text-decoration: none;
	line-height: 20px;
}

.welcome-box-link a:hover {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #90a60b;
	text-decoration: underline;
	line-height: 20px;
}

#sortable {
	border: 0px solid #FF0000;
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none
}

#sortable li {
	width: 165px;
	height: 150px;
	float: left;
	padding: 5px 5px 0px 3px;
	background: url(../images/img-box.gif) no-repeat left top;
	list-style-type: none;
	/*background-color:#f4f4f4;*/
	margin: 5px;
	position: relative;
}

#sortable li .textbox {
	position: absolute;
	top: 95px;
	left: 10px;
	border: 1px solid #d9d9d9
}

.paging .byletter {
	
}

.paging .byletter-active {
	
}

.NewDivClass {
	padding: 5px;
	border: 1px rgb(228, 228, 228) solid;
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari and Chrome */
	border-radius: 5px;
	/* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	width: 400px;
}

img {
	vertical-align: middle;
}